Source: omixforge
Section: science
Priority: optional
Maintainer: Sinan <mohamedysf@bicpu.edu.in>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.8.0
Rules-Requires-Root: no

Package: omixforge
Architecture: amd64
Depends: ${misc:Depends}
Description: OmixForge - offline bioinformatics workflow manager
 A desktop application for managing bioinformatics pipelines locally.
