#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_clean:
	# Do nothing (so your local dist/omixforge binary isn't deleted during cleaning)

override_dh_auto_build:
	# Reconstruct the PyInstaller executable from the split parts
	cat dist/omixforge.part.* > dist/omixforge
	chmod +x dist/omixforge

override_dh_auto_test:
	# Skip tests

override_dh_auto_install:
	# Do nothing (handled by debian/omixforge.install)
